<section id="gallery" class="photo-gallery-area pt-100">
    <div class="container">
        <div class="section-title">
            <h2>Photo Gallery</h2>
            <p>Here are some photos of the apartment. As you can see it's simply a perfect little place.  Tucked safely away and quiet, yet still in the most vibrant part of the city.  Appointed with brand
            new furniture, dishes, bedding, towels, everything you can possible need.  </p>
        </div>
    </div>

    <div class="row m-0">


        <div class="col-lg-6 col-md-12 p-0">
            <div class="row m-0">

                <div class="col-lg-12 col-sm-12 col-md-12 p-0">
                    <div class="photo-gallery-item">
                        <a href="assets/img/apt/front1.webp" class="popup-btn"><img src="assets/img/apt/front1.webp" alt="image"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 p-0">
                    <div class="photo-gallery-item">
                        <a href="assets/img/apt/side-entry.webp" class="popup-btn"><img src="assets/img/apt/side-entry.webp" alt="image"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 p-0">
                    <div class="photo-gallery-item">
                        <a href="assets/img/apt/rear-units-front.webp" class="popup-btn"><img src="assets/img/apt/rear-units-front.webp" alt="image"></a>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-lg-6 col-md-12 p-0">
            <div class="row m-0">
                <div class="col-lg-6 col-sm-6 col-md-6 p-0">
                    <div class="photo-gallery-item">
                        <a href="assets/img/apt/livingroom1.jpg" class="popup-btn"><img src="assets/img/apt/livingroom1.jpg" alt="image"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 p-0">
                    <div class="photo-gallery-item">
                        <a href="assets/img/apt/livingroom2a.jpg" class="popup-btn"><img src="assets/img/apt/livingroom2a.jpg" alt="image"></a>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-md-12 p-0">
                    <div class="photo-gallery-item">
                        <a href="assets/img/apt/bedroom3.jpg" class="popup-btn"><img src="assets/img/apt/bedroom3.jpg" alt="image"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
            <div class="photo-gallery-item">
                <a href="assets/img/apt/bath-shower.jpg" class="popup-btn"><img src="assets/img/apt/bath-shower.jpg" alt="image"></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-6 p-0">
            <div class="photo-gallery-item">
                <a href="assets/img/apt/sink.jpg" class="popup-btn"><img src="assets/img/apt/sink.jpg" alt="image"></a>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 p-0">
            <div id="map-container">
                <iframe class="w-100 h-100 border-0"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3388.670173216451!2d-122.41424172401369!3d37.753843813365236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7e486e6e9f35%3A0xa0def5a24f14b604!2s2723%20Harrison%20St%2C%20San%20Francisco%2C%20CA%2094110!5e1!3m2!1sen!2sus!4v1756936297613!5m2!1sen!2sus"
                        allowfullscreen
                        loading="lazy"></iframe>


            </div>

        </div>
    </div>
</section>
