<section id="about" class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="about-image">
                    <img src="assets/img/apt/plans.webp" alt="Floor plan showing the living room, kitchen, bedroom, bathroom, and rear deck">
                    <img src="assets/img/layer.png" class="back-img1" alt="">
                    <img src="assets/img/layer.png" class="back-img2" alt="">
                    <img src="assets/img/apt/livingroom2b.jpg" class="circle-img shadow-sm" alt="Sofa and chair beside the living room window">

                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="about-content">
                    <h3>All about of Harrison Garden</h3>
                    <p>The property is practically brand new and has since been furnished completely and is move-in ready</p>

                    <div class="about-inner">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i aria-hidden="true" class="far fa-building"></i>
                                    </div>
                                    <h4>Location</h4>
                                    <p>24th and Harrison is the heart of the mission. Full of restaurants, shopping, and an endless variety of events</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i aria-hidden="true" class="fas fa-bed"></i>
                                    </div>
                                    <h4>Newly Appointed</h4>
                                    <p>The unit was just purchased and completely furnished with everything brand new; from beds and couches to plates and silverware.</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i aria-hidden="true" class="fas fa-seedling"></i>
                                    </div>
                                    <h4>Garden Apartment</h4>
                                    <p>Away from the excitment of the street, you're safe and secluded in the rear garden</p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i aria-hidden="true" class="fas fa-bolt"></i>
                                    </div>
                                    <h4>Utilities Included</h4>
                                    <p>No messing around with electric and water bills. We're ready for you</p>
                                </div>
                            </div>



                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i aria-hidden="true" class="fa-solid fa-house-signal"></i>                                    </div>
                                    <h4>Fiber Wifi</h4>
                                    <p>With Sonic Gigabit Wifi, you'll never be left waiting. </p>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-inner-box">
                                    <div class="icon">
                                        <i aria-hidden="true" class="fa-solid fa-map"></i>
                                    </div>
                                    <h4>Public Transport Dream</h4>
                                    <p>Walking distant to about 5 different main bus lines and a bart station, leave the car behind and live like a native</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
