.home-slides { position: relative; }
.slideshow-toggle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  color: white;
  background: rgba(0, 0, 0, .8);
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px 12px;
}
