<section id="home" class="home-area">
    <div #slides class="swiper-container home-slides">
        <div class="swiper-wrapper">
            <div class="swiper-slide main-banner item-bg1">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <h1>2723 Harrison Street</h1>
                                <p>Hidden behind this beautiful classic home in the heart of the mission</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="swiper-slide main-banner item-bg2">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <h1>Your garden apartment</h1>
                                <p>Tucked away behind the gate, you're hidden away from all the noise of the city</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide main-banner item-bg3">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <h1>A safe and quiet courtyard</h1>
                                <p>Full of beautiful plants, a quiet area to hang out, and safely park your bike.</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-banner item-bg4">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <h1>A safe and quiet courtyard</h1>
                                <p>Full of beautiful plants, a quiet area to hang out, and safely park your bike.</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-banner item-bg5">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <h1>Your garden apartment</h1>
                                <p>A nice wide door opens into the main room.</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-banner item-bg6">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <h1>Main living area</h1>
                                <p>Featuring a nice little couch, chair and table, the main living area is perfect for hanging out and reading a book next to the window.</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-banner item-bg7">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <h1>Main living area</h1>
                                <p>Featuring a nice little couch, chair and table, the main living area is perfect for hanging out and reading a book next to the window.</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide main-banner item-bg8">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="main-banner-content">
                                <h1>Bedroom</h1>
                                <p>A good sized bedroom with a queen bed is quiet and secluded.  With direct access to the bath and even a door to a private rear patio</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>

<app-about></app-about>

<!--<app-property-details></app-property-details>-->

<app-gallery></app-gallery>

<!--<app-agent></app-agent>-->

<!--<app-feedback></app-feedback>-->

<!--<app-services></app-services>-->

<!--<app-maps></app-maps>-->

<!--<app-contact></app-contact>-->
